PORT=3000

DATABASE_URL="postgresql://kasi_user:kasi_password@localhost:5432/kasi_food_delivery"

JWT_SECRET=replace_with_secure_secret

STRIPE_SECRET_KEY=your_stripe_secret

PAYFAST_MERCHANT_ID=10000010
PAYFAST_MERCHANT_KEY=46f0cd6945
PAYFAST_PASSPHRASE=

PAYFAST_MODE=sandbox

PAYFAST_BASE_URL=https://sandbox.payfast.co.za/eng/process
