PORT=3000

DATABASE_URL="postgresql://foodapp_user:oUdhtxtPZLhbh68lLaqrynF5ZVv64Eno99a7394467429ff56e9b02b68a2bbfc98435fe4"

JWT_SECRET=replace_with_secure_secret

STRIPE_SECRET_KEY=your_stripe_secret

PAYFAST_MERCHANT_ID=10000010
PAYFAST_MERCHANT_KEY=46f0cd6945
PAYFAST_PASSPHRASE=

PAYFAST_MODE=sandbox

PAYFAST_BASE_URL=https://sandbox.payfast.co.za/eng/process
