PORT=3000
DATABASE_URL="postgresql://foodapp_user:oUdhtxtPZLhbh68lLaqrynF5ZVv64Eno@dpg-d4kqhmngi27c73enktv0-a/foodapp_w42i"
JWT_SECRET=replace_with_secure_secret
STRIPE_SECRET_KEY=your_stripe_secret
PAYFAST_MERCHANT_ID=10000100
PAYFAST_MERCHANT_KEY=46f0cd694581a
PAYFAST_PASSPHRASE=
PAYFAST_MODE=sandbox
PAYFAST_BASE_URL=https://sandbox.payfast.co.za/eng/process
